<form class="col-xs-3 modal-box">
	<div class="form-group">
		<label>Subject</label>
		<input type="text" id="js_subject" class="form-control" placeholder="Subject" value="{{ task.subject }}">
	</div>
	<div class="form-group">
		<label>Text</label>
		<textarea class="form-control" id="js_text"  placeholder="Search">{{ task.text }}</textarea>
	</div>
	<input type="hidden" id="js_task_id" value="{{ task.task_id }}">
	<button type="button" id="js_save" class="btn btn-success">Submit</button>
	<button type="button" id="js_close" class="btn btn-danger">Cancel</button>
</form>